<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<style>
    body {
      background-color: black;
      color: white;
    }

    header, main, footer {
      padding: 20px;
    }
</style>

<main>
    <h1>Learn about value of companies</h1>
    <h2> Fundamentals of Stock Trading:</h2>
    <ol>
        <li>Different types of stocks (common vs. preferred).</li>
        <li>Understanding stock ticker symbols.</li>
        <li>Basics of buying and selling stocks.</li>
I       <li>Introduction to brokerage accounts and how to choose a broker.</li>
        <li>Understanding market orders, limit orders, stop-loss orders, etc.</li>
    </ol>
    <h2>Fundamental Analysis:</h2>
    <ol>
        <li>Introduction to financial statements (income statement, balance sheet, cash flow statement).</li>
        <li>Key financial ratios (P/E ratio, Earnings per Share, Dividend Yield) and their interpretation.</li>
        <li>Understanding company valuation methods.</li>
        <li>How to read and interpret annual reports.</li>
        <li>The impact of economic indicators on stock markets.</li>
    </ol>
</main>

<%- include ('../partials/footer') %>