<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<header>
    <img src="">
    <div class="button-container">
      <a href="/account" class="button">Account</a>
    </div>
  </header>
<main>
    <h1>home page</h1>
</main>

<%- include ('../partials/footer') %>