<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<style>
    body {
      background-color: black;
      color: white;
    }

    header, main, footer {
      padding: 20px;
    }
</style>

<main>
    <h1>Intro to the Stock Market page</h1>
    <ol>
        <li>Overview of stock markets, their history, and role in the economy.</li>
        <li>Understanding how stock exchanges work (e.g., NYSE, NASDAQ).</li>
        <li>Key market participants (retail investors, institutional investors, market makers).</li>
        <li>Introduction to stock indices (like the S&P 500, Dow Jones).</li>
    </ol>

</main>

<%- include ('../partials/footer') %>