<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta
     name="viewport"
     content="width=device-width, initial-scale=1, shrink-to-fit=no" />
   <meta name="description" content="" />
   <title>Stock Sensei</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 </head>
 <style>
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: black; /* Add your preferred background color */
    }
     .button-container {
      display: flex;
    }
     .button {
      margin-left: 10px;
      padding: 10px 15px;
      text-decoration: none;
      color: #ffffff;
      background-color: green; /* You can choose your desired color */
      border-radius: 5px;
      cursor: pointer;
    }
     /* Additional styling for hover effects if you want */
    .button:hover {
     background-color: #05A914;
   }
 </style>
 
 <body>
   <main>
     <img src="https://i.pinimg.com/originals/81/38/b4/8138b48c17d36c563c42e27fb069c16d.png" alt="Stock Sensei Logo">
     <div class="button-container">
       <a href="/login" class="button">LOGIN</a>
       <a href="/register" class="button">REGISTER</a>
     </div>
   </main>


   <!-- Include your footer here -->


 </body>
</html>
