<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <body>
        <div class="container" id="intro">
            <div class="row">
              <div class="col-4">
                <div class="card" id="card-1">Intro</div>
                    <a href="/intro">
                    <img src="Intro.jpeg" class="card-img-top" alt="..."  width="400" height="200">
                    </a>
                    <div class="card-body" >
                        <h5 class="card-title">Intro to the Stock Market</h5>
                        <p class="card-text">A quick introduction to the fundamentals of stocks</p>
                    </div>
                </div>
              <div class="col-4">
                <div class="card" id="card-2">Fundamentals</div>
                <img src="Fundamentals.jpeg" class="card-img-top" alt="..."  width="400" height="200">
                <div class="card-body" >
                    <h5 class="card-title">Understand the Fundamentals of Companies</h5>
                    <p class="card-text">Stocks represent a portion of a company, understand how to value a company and its future direction.</p>
                </div>
              </div>
              <div class="col-4">
                <div class="card" id="card-3">Technical Analysis</div>
                <img src="Technical.jpeg" class="card-img-top" alt="..."  width="400" height="200">
                <div class="card-body" >
                    <h5 class="card-title">Using statistics and machine learning.</h5>
                    <p class="card-text">Learn technical analisis to forecast stock movments</p>
                </div>
              </div>
              <div class="col-4">
                <div class="card" id="card-3">Portfolio Manager</div>
                <img src="Portfolio.jpeg" class="card-img-top" alt="..."  width="400" height="200">
                <div class="card-body" >
                    <h5 class="card-title">Managing your risk</h5>
                    <p class="card-text">Here you will learn how to manage the risk in your portfolio. </p>
                </div>
              </div>
            </div>
          </div>
      </body>
</main>

<%- include ('../partials/footer') %>