<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<style>
    body {
      background-color: black;
      color: white;
    }

    header, main, footer {
      padding: 20px;
    }
</style>

<main>
    <h1>Learn about your portfolio and risk management</h1>
    <h2>Regulatory Environment and Ethics:</h2>
    <ol>
      <li>Understanding the regulatory bodies (SEC, FINRA).</li>
      <li>Insider trading and market manipulation.</li>
      <li>Ethical investing and corporate governance.</li>
    </ol>
    <h2>Portfolio Management:</h2>
    <ol>
      <li>Diversification and asset allocation.</li>
      <li>Portfolio rebalancing techniques.</li>
      <li>Introduction to mutual funds, ETFs, and index funds.</li>
     <li>Tax considerations in trading.</li>
    </ol>
    <h2>Market Analysis and Current Trends:</h2>
    <ol>
      <li>Analysis of current market trends.</li>
      <li>Impact of technology on stock trading.</li>
      <li>Introduction to emerging markets.</li>
  </ol>
</main>

<%- include ('../partials/footer') %>