<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<style>
    body {
      background-color: black;
      color: white;
    }

    header, main, footer {
      padding: 20px;
    }
</style>

<main>
    <h1>How statistical analysis and technical studies can help you make better decisions</h1>
</main>

<%- include ('../partials/footer') %>