<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <h1>How statistical analysis and technical studies can help you make better decisions</h1>
</main>

<%- include ('../partials/footer') %>