<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<style>
    body {
      background-color: black;
      color: white;
    }

    header, main, footer {
      padding: 20px;
    }
</style>

<main>
    <h1>How statistical analysis and technical studies can help you make better decisions</h1>
    <h2>Technical Analysis:</h2>
     <ol>
        <li>Basics of technical analysis and its importance.</li>
        <li>Understanding charts (line, bar, candlestick).</li>
        <li>Technical indicators (moving averages, RSI, MACD).</li>
        <li>Chart patterns and trend analysis.</li>
        <li>Concept of support and resistance.</li>
    </ol>
    <h2>Trading Strategies:</h2>
    <ol>
        <li>Different trading styles (day trading, swing trading, position trading).</li>
        <li>Risk management and position sizing.</li>
        <li>Developing and testing trading strategies.</li>
        <li>The psychology of trading and dealing with emotions.</li>
    </ol>
    <h2>Advanced Topics:</h2>
    <ol>
        <li>Introduction to derivatives (options, futures).</li>
        <li>Leveraged and short selling.</li>
    </ol>

</main>

<%- include ('../partials/footer') %>